/* .columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}


.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}



@media only screen and (max-width: 680px) {
  .columns {
    width: 100%;
  }
}
.boxa{
  background: #128fc8;
  color: #fff;
  border-radius: 10px;
  transition: 0.5s;
}
.boxa:hover{
  transform:  scale(1.1) ;
}
.pricetable{
  padding-top: 100px;
  padding-bottom: 100px;
}
.pricingdropdown{
  border-radius: 10px;
}
.rate{
  font-size: 25px;
}

.pricing-name{
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
} 

.dropdown-menu {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}

.dropdown-item {
  color: #333;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.dropdown-item:hover {
  background-color: #ddd;
  color: #fff;
  cursor: pointer;
}

.dropdown-toggle {
  background-color: #0A4F88;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  appearance: #fff;

}

.dropdown-toggle:hover {
  background-color: #3e8e41;
}
.custom-select {
  border-radius: 5px;
  padding: 5px;
  width: auto;

}

.boxa{
  height: 680px;
  margin: 1px;
}
.box1{
  background-color: #0A4F88;
  color: white;
  border-radius: 10px;
  height: 680px;
  margin: 1px;
  transition: 0.5s;
}
.box1:hover{
  transform:  scale(1.1);
}
.box3{
  background-color: #28666e;
  color: white;
  border-radius: 10px;
  height: 680px;
  margin: 1px;
  transition: 0.5s;
}
.box3:hover{
  transform:  scale(1.1);
}


select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  box-shadow:none;
  border:0!important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select {
  color: #23b499;
}
.dropdownbussiness{
  margin-top: 20px;
}


.form{
  display: flex;
  flex-direction: column;
  padding: 20px
}


.productimg{
  width: 40px;
} */

.wrapper{
  padding-top: 30px;
  margin: 5px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper .table{
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
}
.table .price-section{
  display: flex;
  justify-content: center;
}
.table .price-area{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 2px;
}
.price-area .inner-area{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  line-height: 117px;
  text-align: center;
  color: #fff;
  position: relative;
}
.price-area .inner-area .text{
  font-size: 25px;
  font-weight: 400;
  position: absolute;
}
.price-area .inner-area .price{
  font-size: 30px;
  font-weight: 500;
}
.table .package-name{
  width: 100%;
  height: 2px;
  margin: 35px 0;
  position: relative;
}
.table .package-name::before{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 500;
  background: #fff;
  padding: 0 15px;
  transform: translate(-50%, -50%);
}
.table .features li{
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.features li .list-name{
  font-size: 17px;
  font-weight: 400;
}
.features li .icon{
  font-size: 15px;
}
.features li .icon.check{
  color: #2db94d;
}
.features li .icon.cross{
  color: #cd3241;
}
.table .btn{
  width: 100%;
  display: flex;
  margin-top: 35px;
  justify-content: center;
}


.basic .features li::selection{
  background: #0583d2;
}
.basic ::selection,
.basic .price-area,
.basic .inner-area{
  background: #0583d2;
}

.basic .package-name{
  background: #ffecb3;
}
.premium .package-name{
  background: #d0b3ff;
}
.ultimate .package-name{
  background: #baf8d4;
}
.basic .package-name::before{
  content: "STARTUP"; 
  background: rgb(120, 120, 248);
  color: #fff;
  border-radius: 10px;
}
.premium .package-name::before{
  content: "STANDARD";
  border-radius: 10px;
  background: rgb(105, 105, 226);
  color: #fff;
  font-size: 24px;
}
.ultimate .package-name::before{
  content: "SUPREME";
  background: rgb(147, 147, 255);
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
}
@media (max-width: 1020px) {
  .wrapper .table{
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
}
@media (max-width: 698px) {
  .wrapper .table{
    width: 100%;
  }
}
::selection{
  color: #fff;
}
.table .ribbon{
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}
.table .ribbon::before,
.table .ribbon::after{
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  border: 7px solid #4606ac;
  border-top-color: transparent;
  border-left-color: transparent;
}
.table .ribbon::before{
  top: 0px;
  right: 15px;
}
.table .ribbon::after{
  bottom: 15px;
  left: 0px;
}
.table .ribbon span{
  position: absolute;
  top: 30px;
  right: 0;
  transform: rotate(-45deg);
  width: 200px;
  background: linear-gradient(#067fd0,#223bc9,#013dc4,#4169e1);
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12);
}

.price-basic{
  color: #fff;
}
.price-Standard{
  color: #fff;
  font-size: 17px;
}
.price-Standards{
  color: #fff;
}
.price-supreme{
  color: #fff;
  font-size: 17px;
}
.table{
  border: 1px solid #4f77aa;
}
.basic{
 border-radius: 5px;
background: #2a93d5;
}
.premium{
  border-radius: 5px;
  background: #37caec;
 }
 .ultimate{
  border-radius: 5px;
  background: #98c1d9;
 }