/* 
.Support-container h1{
    color: #fff;
    font-size: 44px;
    text-align: center;
    padding-top: 100px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    min-width: 250px;
}
.feature-image{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.small-img-row{
    display: flex;
    background: #efefef;
    margin:20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
}
.small-img{
    position: relative;
}
.small-img img{
  width: 200px;
    height: 150px;
}
@media only screen and (max-width: 600px) {
    .small-img-row {
      flex-direction: column;
    }
    .small-img {
      width: 100%;
      margin-bottom: 10px;
    }
    .small-img img {
      width: 100%;
      height: auto;
    }
    .small-img-row p {
      font-size: 20px;
      text-align: center;
    }
  }
  
.small-img-row p{
    color: #707070;
    font-size: 25px;
    font-weight: 700;
    overflow: hidden;
}

.play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
    cursor: pointer;
}

.play-btns{
    width: 60px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    cursor: pointer;
}
.small-img .play-btns{
    width: 35px;
    height: 35px;
}
.video-player{
    width: 80%;
    transform: translate(-1%,1%);
}

video:focus{
    outline: none;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}
.Support-container{
    margin: 20px;
}
.auditusierpsuppoert{
    color: #fff;
}
.Support-container{
    min-height: 100vh;
}

  
  .video-player__video {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
   
   @media (max-width: 768px) {
    .video-player__video {
      object-fit: contain;
    }
  }
  */

  .supportcontainer{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
  }
.supportcontainer h1{
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 40px;
  font-weight: normal;
}
.supportcontainer .video-container{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  padding: 10px;
}
.supportcontainer .video-container .video{
  height: 250px;
  width: 350px;
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.7);
  cursor: pointer;

}
.supportcontainer .video-container .video video{
height: 100%;
width: 100%;
object-fit: cover;
transition: .2s linear;
}
.supportcontainer .popup-video{
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: rgba(0,0,0,0.8);
height: 100%;
width: 100%;
display: none;
}
.supportcontainer .popup-video video{
    position: absolute;
    top: 60%;
    left: 50%;
    transform:  translate(-50%,-50%);
    width: 750px;
    border-radius: 5px;
    border: 3px solid #fff;
    object-fit: cover;
  } 

  .supportcontainer .popup-video span{
    position: absolute;
    top: 100px;
    right: 20px;
    font-size: 50px;
    color: #fff;
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
  } 
  @media(max-width:768px){
    .supportcontainer .popup-video video{
      width: 95%;
    }
  }
.videodescription{
  color: #fff;
  font-weight: bold;
}