/* contact form dropdown retail manufacturing distibution start */


 .contactdropdown{
   border: 1px solid rgb(214, 208, 208);
border-radius: 5px;
 }
 /* contact form dropdown retail manufacturing distibution start end*/

 /* Contact button start buttons are send and reset start */

 .contactbutton1{
   margin: 30px;
   background: #339DFF;
   color: #fff;
   line-height: 38px;
   border-radius: 50px;
   transition: 0.5s;
   width: 170px;
   border: 1px solid #339DFF;
 }
 .messagesend{
   font-size: 16px;
 }
 .contactbutton1:hover{
   background: #fff;
   color: #339DFF;
   box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
 }
  /* Contact button start buttons are send and reset end */

  .contactbox{
   padding-bottom: 10px;
  }

  /* 10 digits verifaction start */
  #phone{
   outline: 0;
  }
  #phone:valid{
    border-color:  green;
  }
  #phone:focus:invalid{
   border-color:  red;
 }
    /* 10 digits verifaction edn*/